@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-russo: 'Russo One', sans-serif;
  --font-chakra: 'Chakra Petch', sans-serif;
  --color-primary: #fe5c01;
  --color-background: #FAFAFA;
  --color-secondary: #EAEAEB;
}

.dark {
  --color-background: #1A1C1E;
  --color-secondary: #202329;
}